<div id="menu">
    <p id="logo">WebP ;)</p>
    <p id="li_sName"><%- sName %>님</p>
    <ul>
        <li><a href="/auth/home"><i class="xi-home-o">&nbsp</i>Home</a></li>
        <li><a href="/auth/memo"><i class="xi-note-o">&nbsp</i>Memo</a></li>
        <!-- <li><a href="#"><i class="xi-check">&nbsp</i>Todo</a></li> -->
        <li><a href="/auth/logout"><i class="xi-log-out">&nbsp</i>Logout</a></li>
    </ul>
</div>
