body{
    padding: 30px;
}
.card{
    width: 100%;
    /* margin: 3rem auto; */
    margin: 0 !important;
    font-family: 'Heebo', sans-serif !important;
    /* font-weight: 900; */
}

#addTxt{
    resize: none;
}

.row{
    overflow: auto;
    width: 100% !important;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 10px !important;
    background-color: #fff !important;
    border: 1px solid #e0e0e0 !important;
}