body{
    padding: 30px;
}
.card{
    width: 100%;
    /* margin: 3rem auto; */
    margin: 0 !important;
    font-family: 'Heebo', sans-serif !important;
    /* font-weight: 900; */
}

#addTxt{
    resize: none;
}

.row{
    overflow-y: auto;
    white-space : normal;
    /* overflow : hidden; */
    /* width: 30% !important; */
    height: 6rem;
    display: flex;
    align-items: center;
    border-radius: 10px !important;
    background-color: #fff !important;
    border: 1px solid #e0e0e0 !important;
}

#addBtn{
    border:none;
    float: right;
}

#addBtn:hover{
    background-color: #ffcb83;
}

#card_list{
    height: 30%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#card_list_div{
    max-height: 51rem;
    overflow: auto;
}

#delBtn{
    margin-top: 1rem;
    float: right;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bold;
    background-color: #57419d;
    color: #fff;
}
#txt_cnt{
    margin-top: 1rem;
}