<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/login.css">
    <title>LOGIN</title>
</head>

<body>
    <div id="login_div" class="sa">
        <form id="login_form" action="/users/login" method="POST">
            <h1>WELCOME</h1>
            <input class="login_form_input" type="text" placeholder="ID" id="user_id" name="user_id">
            <br>
            <input class="login_form_input" type="password" placeholder="Password" id="password" name="password" autocomplete="off">
            <input type="submit" value="LOGIN" id="signin_submit">
        </form>
        <div id="signup">
            <span>Don't have an account yet?</span>
            <a href="/auth/signup" id="goto_signup">Sign Up</a>
        </div>
    </div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>